@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto+Condensed:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #D2C8DE;
}


/*Menu*/

.container-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #210045;
    font-family: 'Lato', sans-serif;
}

.menu {}

.opcoes-menu {
    padding: 16px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.opcao1,
.opcao3 {
    background-color: #5F00C4;
}

.opcoes-menu:hover {
    background-color: #D2C8DE;
    color: #210045;
    transition: 0.5s;
}

.opcao2,
.opcao4 {
    background-color: #45008F;
}

.titulo {
    color: white;
    padding: 8px;
    border-radius: 8px;
    font-size: 28px;
    font-family: 'Lato', sans-serif;
}

span {
    background-color: #5F00C4;
    color: white;
    padding: 4px;
    border-radius: 80px;
}

.titulo:hover {
    color: #D2C8DE;
    padding: 8px;
    border-radius: 8px;
    font-size: 28px;
}

span:hover {
    background-color: white;
    color: #5F00C4;
    padding: 4px;
    border-radius: 80px;
}


/*Corpo do site*/

.slogan {
    text-align: center;
    padding: 16px;
    color: #5F00C4;
    font-family: 'Roboto Condensed', sans-serif;
}

.container-card {
    display: flex;
    flex-direction: row;
    margin: 0 40px 40px 40px;
    justify-content: center;
}

.card-adocao {
    border: 2px solid #210045;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 360px;
    margin: 8px;
}

img {
    width: 360px;
    border-radius: 4px 4px 0 0;
}

.cachorro1 {
    height: 240px;
}

.gato1 {
    height: 240px;
}

.gato3 {
    height: 216px;
}

.gato4 {
    height: 216px;
}

.botao {
    padding: 16px;
    background-color: #5F00C4;
    color: white;
    border: none;
    width: 100%;
    border-radius: 0 0 4px 4px;
    font-family: 'Lato', sans-serif;
}

.botao:hover {
    background-color: white;
    color: #210045;
    transition: 0.8s;
    cursor: pointer;
}


/*Rodapé*/

.rodape {
    bottom: 0;
    padding: 16px;
    background-color: #210045;
}

.container-lista-rodape {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lista-rodape,
.opcao-lista {
    margin: 40px;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

li {
    padding: 16px;
}

.opcao-lista {
    padding: 8px;
}

.opcao-lista:hover {
    background-color: #D2C8DE;
    color: #5F00C4;
    opacity: 0.9;
    transition: 0.8s;
}

.copyright {
    text-align: center;
    color: white;
    margin-top: 8px;
    font-family: 'Lato', sans-serif;
}